<!doctype html>
<html>
<head>
<title>LabAPI </title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="{{ url_for('static', filename='dist/bundle.js')}}" type="text/javascript"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body onload='index.createGUI({{state|tojson}});'>
  <div id='root'></div>
</body>

</html>
